:root {
  --dark-gray: #21252b;
  --light-gray: #ededed;
  --light-blue: #718b98;
  --lighter-blue: #a6bcc7;
  --light-yellow: #ffee9a;
  --white: #fff;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 100%;
  background-color: var(--dark-gray);
}

.editor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  height: 50vh;
  max-height: 50vh;
  margin: 20px auto 40px auto;
}

.editor__instruction {
  columns: 2;
  column-gap: 40px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: var(--light-blue);
  padding: 20px 0;
}

.editor__instruction h1 {
  column-span: all;
  font-size: 1.4rem;
  font-weight: 700;
}
.editor__instruction h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 30px;
}

.editor__instruction p {
  font-family: "Open Sans";
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
}
.editor__instruction b {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 1rem;
}
.editor__instruction a {
  color: var(--light-blue);
  font-size: 0.9rem;
  font-weight: 400;
}
.editor__instruction a:hover {
  color: var(--lighter-blue);
}
.editor__original-text,
.editor__output-text-wrapper {
  max-height: 100%;
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editor__original-text {
  background-color: var(--white);
  border-right: 2px solid var(--light-gray);
}
textarea {
  font-family: "Inconsolata", monospace;
  flex-grow: 1;
  border: none;
  padding: 30px;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--dark-gray);
  resize: none;
}

textarea:focus {
  outline: none;
}

.editor__error-message {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  width: 100%;
  background-color: var(--light-yellow);
  opacity: 0;
  transition: opacity ease-in 0.3s, padding ease-in 0.3s;
}

.editor__error-message--active {
  padding: 10px 20px;
  opacity: 1;
  transition: opacity ease-in 0.3s, padding ease-in 0.3s;
}

.editor__output-text-wrapper {
  background-color: var(--white);
}

.editor__output-text {
  overflow: auto;
  padding: 30px;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--dark-gray);
}
